<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Angebot Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-md-10">
            <a class="btn btn-md btn-danger btn-lg " name="logout" type="Submit" th:href="@{/logout}">Logout</a>
        </div>
        <div class="dropdown col-md-2">
            <button class="btn btn-primary dropdown-toggle btn-lg" style="float:right" type="button"
                    data-toggle="dropdown">Menu
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a th:href="@{/user/profile}">Profile</a></li>
                <li><a th:href="@{/user/auftragPage}">Auftrag </a></li>
                <li><a th:href="@{/user/angebot}">Angebot </a></li>
                <li><a th:href="@{/user/userHome}">Home</a></li>
                <li><a href="#">Eigenschaften</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-group panel-primary" style="margin-top:10px">
        <div class="panel-heading">Angebot</div>
        <div class="panel-body">
            <form autocomplete="off" action="#" th:action="@{/user/angebot}" th:object="${angebot}" method="post"
                  class="form-horizontal" role="form">
                <div class="row" style="margin-top:20px">

                    <div class="form-group row" style="margin-top: 20px">
                        <label class="col-sm-2 col-form-label">Waehelen Sie eine Kategorie</label>
                        <div class="col-sm-10">
                            <select class="form-control"  th:field="*{category}">
                                <option th:each="state : ${T(com.machich.jpa.example.model.Category).values()}" th:value="${state}" th:text="${state.displayName}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Titel der Angebot</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" th:field="*{title}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Kompetenzen</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="kompetenzenList" th:field="*{kompetenzenList}">
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 20px">
                        <label class="col-sm-2 col-form-label">Geben Sie Preis *</label>
                        <div class="col-sm-10">
                            <input  class="col-sm-3" type="number" step="any" name="preis" th:field="*{preis}"><label class="col-sm-3"> Euro</label>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 20px">
                        <label class="col-sm-2 col-form-label">Ort, PLZ *</label>
                        <div class="col-md-3 mb-3">
                            <input type="text" class="form-control" name="ort" th:field="*{ort}" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <input type="text" class="form-control" name="plz" th:field="*{plz}" required>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 20px">
                        <label class="col-sm-2 col-form-label">Termin</label>
                        <div class="col-md-3 mb-3">
                            <input type="date" class="form-control" name="termin" th:field="*{termin}" required>
                        </div>
                    </div>


                    <div class="form-group row" style="margin-top: 20px">
                        <label class="col-sm-2 col-form-label">Kommentare/ Beschreibung</label>
                        <div class="col-md-3 mb-3">
                            <textarea class="form-control" aria-label="With textarea" name="beschreibung" th:field="*{beschreibung}"></textarea>
                        </div>
                    </div>

                    <button type="Submit" class="btn btn-success btn-lg" style="float:right">Speichern
                    </button>
                </div>
        </div>
        </form>
    </div>
</div>


</div>
</div>
</div>
</div>
</body>
</html>